body{
    background-color: #E5E7E9;
}

h1{
    color:#E59866 ;
    font-size: 54px;
    text-align: center;
}
h2{
    color: #A569BD ;
    text-align: center;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}